header.header(class="text-white")
	.container.mx-auto
		.row(class="flex items-center")
			.col(class="w-3/12")
				.header-logo
					a(href="/" class="")
						img(src="/img/logo-white.png", alt="Shop tre viet")
				.header-logo-sticky 
					a(href="")
						img(src="/img/logo.png", alt="Shop tre viet")
			.col(class="w-9/12 header-right flex justify-end")
				nav(class="flex items-center justify-end gap-3 lg:gap-6")
					ul(class="header-menu")
						li.current
							a(href="/ve-chung-toi", class="") Giới thiệu
						li.menu-item-has-children
							a(href="/linh-vuc-hoat-dong", class="") Sản phẩm
							ul.sub-menu 
								li 
									a(href="/linh-vuc-hoat-dong") Giới thiệu chung 
								li 
									a(href="/linh-vuc-hoat-dong") Sơ đồ tổ chức
						li
							a(href="/san-pham", class="") Tin tức
						li
							a(href="/phat-trien-ben-vung", class="") Liên hệ
						
					.header-language
						.wpml-ls
							a(href="/", class="") VN
						ul.wpml-ls-sub-menu
							li
								a(href="/", class="") VN
					.header-cart
						div(class="elbzotech-mini-cart-global elbzotech-mini-cart-dropdown-global")
							spam(class="mini-cart-icon relative")
								i(class="fa-thin fa-cart-shopping rem:text-[20px] font-normal")
								span(class="mini-cart-number set-cart-number") 8
					div(class="ml-4 header-search")
						i(class="fa-light fa-magnifying-glass text-xl text-white pointer-events-none")
					include HeaderHambuger.pug
				
.header-search-form
	.close.flex.items-center.justify-center.absolute.top-0.right-0.bg-white.text-3xl.cursor-pointer(class="w-12.5 h-12.5")
		i.fa-light.fa-xmark
	.container
		.wrap-form-search-product
			.productsearchbox
				input(type="text" placeholder="Search here...")
				button