section.section-home-2.section-large
	.container 
		//- .wrap-title(class=" font-bold text-center mb-10")
		//- 	h2(class="text-primary-5 mb-3 title-30") Convince Your Client
		//- 	span(class="text-primary-1 title-40") with the Most Important Features
		.grid(class="md:grid-cols-2 lg:grid-cols-4 gap-10")
			-for(i=0; i<4; i++)
				.item.border-animation 
					.icon 
						img(src="./img/ico-1.png", alt="")
					.content 
						h3(class="title-24 font-bold mb-3") Beautiful Design
						p(class="") Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.