section.section-about-2.section-large(class="!pt-0")
	.bg-image(class="img-ratio ratio:pt-[660_1920]")
		img(src="./img/1.png", alt="" class="lozad")
	.wrap-content-top(class="relative z-10 mt-10 lg:rem:-mt-[100px]")
		.bg-content-top(class="bg-white rem:h-[100px] lg:rem:w-[1600px] px-40 hidden lg:block mx-auto")
		.container 
			-for(i=0;i<2;i++)
				.row.items-center.justify-center.gap-y-8
					.col(class="md:rem:w-1/2")
						.image(class="img-ratio ratio:pt-[480_700]")
							img(src="./img/1.png", alt="" class="lozad")
					.col(class="md:rem:w-1/2")
						.content(class="flex flex-col gap-5 lg:gap-10")
							h4(class="title-40 font-bold text-primary-5") About Us
							.caption(class="rem:text-[16px] font-normal text-primary-5") Listening to customers’ needs is the starting point for every job we do. We attach great importance to understanding your line of business, requirements, and wishes and ideas. Based on this principle, we can help you to identify professional engineering services needed to ensure the success of your project.