include ../../../global/Breadcrumb/Breadcrumb.pug

section.section-about-1.section-large
	.container 
		.grid(class="lg:grid-cols-2 gap-5 lg:gap-10")
			.item-left(class="flex flex-col gap-8 lg:gap-10")
				h2(class="title-40 font-bold text-primary-5") About Us
				.content.format-content
					p gbc engineers is an owner-operated, multi-disciplinary German engineering firm of consultants and advising engineers. With a team of over 200 dedicated employees, we deliver top-tier engineering consultancy, design, and project management services worldwide.
			.item-right 
				.content.format-content 
					p Since our founding, we have continuously evolved to meet the changing demands of the construction industry. Through this evolution, we have stayed true to our core principle: delivering innovative, sustainable solutions that drive projects success. This adaptability has enabled us to move projects from concept to completion with precision and efficiency.
					p Our spirit of progress is embedded in everything we do. We are always looking for new ways to improve, pushing the boundaries of what’s possible and ensuring that our work stands the test of time.
					p At gbc engineers, this mindset is the foundation of our past, present, and future – focused on creating value and shaping the built environment for long-term success.