//- section.global-breadcrumb
//- 	.container
//- 		nav
//- 			p
//- 				a(href="") Home
//- 				span |
//- 				span Sản phẩm

section.section-page-banner.relative
	.image(class="img-ratio pt-[calc(300/1920*100rem)] lg:pt-[calc(374/1920*100rem)]")
		img(src="./img/banner.jpg", alt="")
	.page-banner-content 
		.container 
			.content
				h1(class="title-40 pb-3") Product List Page
				.desc(class="title-base font-normal") Đồng hành cùng phát triển
	.global-breadcrumb
		.container
			nav
				p
					a(href="") Home
					span |
					span Sản phẩm