mixin subscribeForm()
	.subscribe
		.subscribefrm
			input.subscribeemail(type="text", placeholder="Nhập email của bạn...")
			button.subscribebutton Gửi
			//- span.fa.fa-exclamation-triangle Vui lòng nhập email.
			//- span.fa.fa-exclamation-triangle Email không hợp lệ.
mixin PugImg(url="https://source.unsplash.com/random/?Cryptocurrency&1",width="500",height="500")
	img(data-src=url, alt="", class="lozad", width=width, height=height)
mixin btnViewAll(text="Xem thêm")
	a(href="" x-link class='btn-primary-2 btn ' + attributes.class)
		span=text
		em.fa-light.fa-arrow-right-long
mixin ProductDetailMain()
	.item-product-main(x-loop-item="Product")
		div(class="div-ratio pt-[110%] xl:pt-[calc(358/300*100%)] overflow-visible")
			.wrap.relative
				.img
					a(href="" x-link class="flex-center img-ratio-center pt-[calc(237/263*100%)]")
						img(src="./img/11.png", alt="" x-img)
				.relative
					a(href="" x-title x-link class="text-base md:text-2xl text-center block mt-3") Muối Chấm
					.wrap-button.flex-center(class="xl:absolute xl:flex hidden top-full w-full")
						+btnViewAll('Xem thêm').small.mt-2
mixin ItemProduct 
	.item-product 
		.hover-img 
			a(href="" class="img-ratio ratio:pt-[300_420] img-zoom")
				img(src="./img/1.png", alt="")
			.wrap-button-view
				.action-view
					a(class="btn-view btn-actions" data-fancybox data-src="#popup-view")
						i(class="fa-regular fa-eye")
			.wrap-btn-add-cart
				a(class="btn-add-cart")
					span Thêm vào giỏ
		.content 
			h3 
				a(href="") Grocery & Organic Supermarket Responsive Template
			.category 
				a(href="") Blog, 
				a(href="") Animated
			.price 400.000 VNĐ

mixin ItemNewsMain()
	.item-news-main(x-loop-item="News" x-loop-mode="NewsItemMain")
		.img(class="mb-5 rounded-2.5 overflow-hidden zoom-img")
			a(href="" x-link class="img-ratio")
				img(src="./img/22.png", alt="" x-img)
		.content
			h2(class="mb-2 text-2xl font-bold hover:text-primary-main")
				a(href="" x-link x-title) Cách chọn muối tôm mà người phụ nữ hiện đại nên biết
			.content.text-lg.font-light
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda beatae eius aspernatur.

mixin ArrowLong
	svg(xmlns="http://www.w3.org/2000/svg", width="30", height="31", viewBox="0 0 30 31", fill="none")
		g(clip-path="url(#clip0_14673_565)")
		path(d="M27 14.9C27.3314 14.9 27.6 15.1686 27.6 15.5C27.6 15.8314 27.3314 16.1 27 16.1V14.9ZM2.57574 15.9243C2.34142 15.6899 2.34142 15.3101 2.57574 15.0757L6.39411 11.2574C6.62843 11.023 7.00833 11.023 7.24264 11.2574C7.47696 11.4917 7.47696 11.8716 7.24264 12.1059L3.84853 15.5L7.24264 18.8941C7.47696 19.1284 7.47696 19.5083 7.24264 19.7426C7.00833 19.977 6.62843 19.977 6.39411 19.7426L2.57574 15.9243ZM27 16.1H3V14.9H27V16.1Z", fill="#7C7C7C")
		defs
		clipPath#clip0_14673_565
			rect(width="30", height="30", fill="white", transform="matrix(-1 0 0 1 30 0.5)")